<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title "Archivio film" %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('apple-touch-icon.png') }}">
    {% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">
    <link href="//getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css" rel="stylesheet">
    <link href="//cdn.rawgit.com/t0m/select2-bootstrap-css/bootstrap3/select2-bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}" />
    {% endblock %}
</head>
<body>
<div class="container">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-md">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ path('homepage') }}" class="navbar-brand" title="home">
                    <img src="{{ asset('img/logo_omca.png') }}" width="130" height="34" alt="">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <div class="navbar-inner">
                    {# knp_menu_render('main', {currentClass: 'active', template: 'menu.html.twig'}) #}
                    {{ knp_menu_render('AppBundle:Builder:mainMenu', {currentClass: 'active', template: 'menu.html.twig'})  }}
                </div>

            </div>
            {# include '_user.html.twig' #}
        </div>
    </nav>
    {% include "_flash.html.twig" %}
    {% block body '' %}
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; 2016 Paolo Maggio</p>
    </div>
</footer>
{% block javascripts %}
<script src="//code.jquery.com/jquery-2.1.4.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/webshim/1.15.8/dev/polyfiller.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>
<script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
</body>
</html>