.navbar {
    min-height: 55px;
}

.navbar-brand {
    /* padding: 15px 15px; */
    padding-top: 8px;
    padding-right: 0px;
    height: 30px;
}

.navbar-inverse {
    background-color: #f4f4f4;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #000;
    background-color: #ccc;
}

.current a {
    color: #fff !important;
    background-color: #000;
}

.navbar-toggle {
    background-color: #ccc;
}

/* media queries */

@media(max-width:768px) {
    .usernav {
        margin-right: 55px;
        margin-top: -48px;
    }
}

@media(min-width:768px) {
    .usernav {
        margin-right: 50px;
        margin-top: -50px;
    }
}

@media(min-width:990px) {
    .usernav {
        margin-right: 100px;
        margin-top: -50px;
    }
}

.footer {
	height: 30px;
}

.footer .container {
	font-size: 12px;
	text-align: center;
}

.footer .container .text-muted{
	margin-top: 6px;
}

.navbar {
    min-height: 0px;
}
.navbar-nav > li > a {
	padding-top: 0;
	padding-bottom: 0;
}
body > .container {
	padding-top: 14px;
}