<table class="table table-striped table-hover">
    <thead>
    <th>Id</th>
    <th>Titolo</th>
    <th>Regista</th>
    <th>Anno</th>
    <th>Generi</th>
    </thead>

    <tbody>
    {% for movie in movies %}
        <tr>
            <td>{{ movie.id }}</td>
            <td><a href="{{ path('movie_detail', {'id': movie.id}) }}">{{ movie.title }}</a></td>
            <td>
                {% if movie.director is empty %}
                    {{ movie.director }}
                {% else %}
                    <a href="{{ path('movies_by_director', {'director': movie.director}) }}">
                        {{ movie.director }}
                    </a>
                {% endif %}
            </td>
            <td>{{ movie.year }}</td>
            <td>
                {% for genre in movie.genres %}
                    <a href="{{ path('movies_by_genre', {'genre': genre.genre}) }}">
                        <span class="label label-primary">{{ genre.genre }}</span>
                    </a>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="10" class="text-center">
            <div class="navigation">
                {# knp_pagination_render(movieList) #}
            </div>
        </td>
    </tr>
    </tbody>
</table>