{% extends 'layout.html.twig' %}

{% block title %}{{ movie.title }} - {{ parent() }}{% endblock %}
{% block body %}
    <h2 class="text-center">{{ movie.title }}</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-2 text-right">Titolo</div>
            <div class="col-md-10">{{ movie.title }}</div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right">Anno</div>
            <div class="col-md-10">{{ movie.year }}</div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right">Titolo originale</div>
            <div class="col-md-10">{{ movie.originalTitle }}</div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right">Durata (minuti)</div>
            <div class="col-md-10">{{ movie.runtime }}</div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right">Codice IMDB</div>
            <div class="col-md-10"><a href="http://www.imdb.com/title/{{ movie.idIMDB }}" target="_blank">{{ movie.idIMDB }}</a></div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right">Trama</div>
            <div class="col-md-10">{{ movie.plot|replace({'\r':'aa'})|nl2br }}</div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right">Tagline</div>
            <div class="col-md-10">{{ movie.tagline }}</div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right">Regista</div>
            <div class="col-md-10">
                {% if movie.director is empty %}
                    {{ movie.director }}
                {% else %}
                    <a href="{{ path('movies_by_director', {'director': movie.director}) }}">
                        {{ movie.director }}
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right">Generi</div>
            <div class="col-md-10">
                {% for genre in movie.genres %}
                    <a href="{{ path('movies_by_genre', {'genre': genre.genre}) }}">
                        <span class="label label-primary">{{ genre.genre }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right">Inserito il</div>
            <div class="col-md-10">
                {{ movie.dateAdded|date('d-m-Y') }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="btn btn-primary" href="{{ path('movie_index', {'order': 'year'}) }}" role="button">Elenco ordinato per anno</a>
                <a class="btn btn-primary" href="{{ path('movie_index', {'order': 'title'}) }}" role="button">Elenco ordinato per titolo</a>
                <a class="btn btn-primary" href="{{ path('movie_index', {'order': 'director'}) }}" role="button">Elenco ordinato per regista</a>
            </div>
        </div>
    </div>
{% endblock %}
