{% extends 'layout.html.twig' %}

{% block title %}Filtro per anno - {{ parent() }}{% endblock %}

{% block body %}
    <h2>Filtro per anno - {{ year }}</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% if not movies is empty %}
        {% include "movie/_movie_list.hrml.twig" %}
    {% endif %}
{% endblock %}