{% extends 'layout.html.twig' %}

{% block title %}Elenco film - regista {{ director }} - {{ parent() }}{% endblock %}

{% block body %}
    <h2>Elenco film - regista {{ director }} </h2>
    <a class="btn btn-primary" href="{{ path('movie_index', {'order': 'year'}) }}" role="button">Elenco ordinato per anno</a>
    <a class="btn btn-primary" href="{{ path('movie_index', {'order': 'title'}) }}" role="button">Elenco ordinato per titolo</a>

    <table class="table table-striped table-hover">
        <thead>
        <th>Id</th>
        <th>Titolo</th>
        <th>Genere</th>
        <th>Anno</th>
        <th>Inserito il</th>
        </thead>

        <tbody>
        {% for movie in movieList %}
            <tr>
                <td>{{ movie.id }}</td>
                <td><a href="{{ path('movie_detail', {'id': movie.id}) }}">{{ movie.title }}</a></td>
                <td>
                    {% for genre in movie.genres %}
                        <a href="{{ path('movies_by_genre', {'genre': genre.genre}) }}">
                            <span class="label label-primary">{{ genre.genre }}</span>
                        </a>
                    {% endfor %}
                </td>
                <td>{{ movie.year }}</td>
                <td>{{ movie.dateAdded|date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="10" class="text-center">
                <div class="navigation">
                    {{ knp_pagination_render(movieList) }}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}