{% extends 'layout.html.twig' %}

{% block title %}Elenco film - genere {{ genre }} - {{ parent() }}{% endblock %}

{% block body %}
    <h2>Elenco film - genere {{ genre }} </h2>
    <a class="btn btn-primary" href="{{ path('movie_index', {'order': 'year'}) }}" role="button">Elenco ordinato per anno</a>
    <a class="btn btn-primary" href="{{ path('movie_index', {'order': 'title'}) }}" role="button">Elenco ordinato per titolo</a>

    <table class="table table-striped table-hover">
        <thead>
            <th>Id</th>
            <th>Titolo</th>
            <th>Regista</th>
            <th>Anno</th>
            <th>Inserito il</th>
        </thead>

        <tbody>
            {% for movie in movieList %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td><a href="{{ path('movie_detail', {'id': movie.id}) }}">{{ movie.title }}</a></td>
                    <td>
                        {% if movie.director is empty %}
                            {{ movie.director }}
                        {% else %}
                            <a href="{{ path('movies_by_director', {'director': movie.director}) }}">
                                {{ movie.director }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ movie.year }}</td>
                    <td>{{ movie.dateAdded|date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="10" class="text-center">
                    <div class="navigation">
                        {{ knp_pagination_render(movieList) }}
                    </div>
                </td>
            </tr>
        </tbody>
   </table>
{% endblock %}