{% extends 'layout.html.twig' %}

{% block title %}Elenco film - {{ parent() }}{% endblock %}

{% block body %}
    <h2>Elenco film
        {% if order == 'title' %}{{ ' - Ordinamento per titolo' }}{% endif %}
        {% if order == 'year' %}{{ ' - Ordinamento per anno' }}{% endif %}
        {% if order == 'director' %}{{ ' - Ordinamento per regista' }}{% endif %}
        {% if order == 'dateadded' %}{{ ' - Ordinamento per data inserimento' }}{% endif %}
    </h2>
    {% if order != 'year' %}
        <a class="btn btn-primary" href="{{ path('movie_index', {'order': 'year'}) }}" role="button">Elenco ordinato per anno</a>
    {% endif %}
    {% if order != 'title' %}
        <a class="btn btn-primary" href="{{ path('movie_index', {'order': 'title'}) }}" role="button">Elenco ordinato per titolo</a>
    {% endif %}
    {% if order != 'director' %}
        <a class="btn btn-primary" href="{{ path('movie_index', {'order': 'director'}) }}" role="button">Elenco ordinato per regista</a>
    {% endif %}
    {% if order != 'dateadded' %}
        <a class="btn btn-primary" href="{{ path('movie_index', {'order': 'dateadded'}) }}" role="button">Elenco ordinato per data inserimento</a>
    {% endif %}
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <th>Id</th>
            <th>Titolo</th>
            <th>Regista</th>
            <th>Anno</th>
            <th>Generi</th>
            <th>Inserito il</th>
        </thead>

        <tbody>
            {% for movie in movieList %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td><a href="{{ path('movie_detail', {'id': movie.id}) }}">{{ movie.title }}</a></td>
                    <td>
                        {% if movie.director is empty %}
                            {{ movie.director }}
                        {% else %}
                            <a href="{{ path('movies_by_director', {'director': movie.director}) }}">
                                {{ movie.director }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ movie.year }}</td>
                    <td>
                        {% for genre in movie.genres %}
                            <a href="{{ path('movies_by_genre', {'genre': genre.genre}) }}">
                                <span class="label label-primary">{{ genre.genre }}</span>
                            </a>
                        {% endfor %}
                    </td>
                    <td>{{ movie.dateAdded|date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="10" class="text-center">
                    <div class="navigation">
                        {{ knp_pagination_render(movieList) }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}